/* General */
* {
  border-radius: 0;
  font-family: "monospace";
  font-size: 11pt;
  color: #c0caf5;
}

window#waybar {
  background-color: #1a1b26;
}

/* Workspaces */
#workspaces button {
  padding: 0 5px;
}

/* Workspaces */
#workspaces button:hover {
  background: #414868;
  border-color: transparent;
  box-shadow: none;
}

#workspaces button.focused {
  background-color: #414868;
}

/* Modules */
#clock,
#battery,
#network,
#pulseaudio,
#custom-updates,
#custom-failed-services,
#mode {
  padding: 0 3px;
  margin: 0 8px;
}

#mode,
#custom-updates {
  font-weight: bold;
  color: #bb9af7;
}

#custom-failed-services {
  font-weight: bold;
  color: #f7768e;
}

#network.disconnected {
  font-weight: bold;
  color: #f7768e;
}
